@import "../../variables.scss";

* {
  box-sizing: border-box;
}

.item__hero {
  padding: 20px;
  width: 240px;
  height: 360px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px 60px #7d7d7d, -20px -20px 60px #ffffff;
  position: relative;
  &_inner {
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
    cursor: pointer;
    &:hover{
        transform: translateY(-3px);
    }
    
  }

  .header {
    background-color: rgba($color: #000000, $alpha: 9);
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    height: 120px;
    line-height: 120px;
    border-radius: 0 0 20px 20px;
  }
  img {
    width: 200px;
    margin-bottom: 0px;
  }
}
